body, html {
	height: 100%;
	margin-left: 0;
}

.parallax { 
	/* The image used */
	background-image: url("mainstacks_mitzi-perez_file.jpg");

	/* Full height */
	height: 100%; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	font-family: 'Roboto', sans-serif;
}

form {
	display: none;
}